
{{ define "main" }}
    <div class="bgimg">
        <video autoplay muted loop poster="poster.jpg">
            {{ if .Site.Params.background }}
                <source src="{{ .Site.Params.background }}" type="video/mp4">
            {{ else }}
                <source src="bg.mp4" type="video/mp4">
            {{ end }}
        </video>

            <div class="topright">
                <a href="barquetteplace.html" class="subpage-link">
                    <i class="fas fa-arrow-right"> <img src="/images/barquetteplace/marketplace.png" alt="barquetteplace"></i> G
                </a>
            </div>

        <div class="topleft">
            {{ if .Site.Params.title }}
                <p>{{ .Site.Params.title }}</p>

            {{ else }}
                <p>Coming Soon</p>
            {{ end }}
        </div>
        <div class="middle">
            {{ if .Site.Params.message }}
                <h1>{{ .Site.Params.message }}</h1>
            {{ else }}
                <h1>COMING SOON</h1>
            {{ end }}
            <br />
            <div class="banner">
                <a href="https://thepointofsale.com/tickets/onlyfries?fbclid=IwZXh0bgNhZW0CMTAAAR1QjV8npGV0MITkcBA78NNFWf2FycocJvIPnDwxaYws2-xRIQJ9NDBa-LQ_aem_YRZOrpkJaFw20ZqQho3Vdw" target="_blank">
                    <img src="/images/OnlyFries.png" alt="OnlyFries Banner" />
                </a>

                <div class="banner-text">
                </div>
            </div>
            <hr/>
            <p id="demo"></p>
            <div id="countdown" data-release="{{ .Site.Params.release }}"></div>
            <div class="banner">
                <a href="barquetteplace.html" target="_blank">
                    <img src="./images/Barquette_Place.JPG" alt="Barquetteplace" />
                </a>

                <div class="banner-text">
                </div>
            </div>

            <div class="banner">
                <a href="https://thepointofsale.com/tickets/onlyfries?fbclid=IwZXh0bgNhZW0CMTAAAR1QjV8npGV0MITkcBA78NNFWf2FycocJvIPnDwxaYws2-xRIQJ9NDBa-LQ_aem_YRZOrpkJaFw20ZqQho3Vdw" target="_blank">
                    <img src="/images/ONLY_FRIES_LINEUP_DJ.png" alt="OnlyFries DJ Menu" style="width: 300px; height: 300px" />
                </a>
            </div>
        </div>
        <div class="bottomleft">
            <p>
            {{ .Site.Params.description}}</p>
        </div>
    </div>
    <div class="left">
        {{ if isset .Site.Params "socialicons" }}
        <section class="social-icons">
            <ul class="social-icons-list">
                {{ range .Site.Params.SocialIcons }}
                <li class="social-icon">
                    {{ $iconName := .name }}
                    <a href="{{ if eq $iconName "email" }}mailto:{{ .url }} {{ else }}{{ .url }}{{ end }}"
                       {{ if .rel }}rel="{{ .rel }}"{{ end }}>
                        <img src="/svg/icons/{{ .name }}.svg" alt="{{ .name }}" />
                    </a>
                </li>
                {{ end }}
            </ul>
        </section>
        {{ end }}
    </div>
        <script src="{{ "/js/script.js" | relURL }}"></script>
{{ end }}